*{
    
    box-sizing: border-box;
    text-transform: capitalize;
}

body{
    margin: 0;
    background-color:#fff8e9;
    font-family:'PT Mono', monospace;
    margin-left: 30px;
    margin-right: 30px;
    
}

.header{
    background-color:#fff8e9;
    margin-top: 10px;
    border-bottom: solid 5px black;
    border-top: solid 5px black;
    height: 80px;
    box-sizing: content-box;
}

.logo {
    display: inline-block;
    height: 80px;
}

.logo h1{
    height: 100%;
}

.logo a{
    text-decoration: none;
    color: #555;
}

.menu{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 80px;
    vertical-align: top;
    padding: 25px;
    float: right;
}

.menu ul{
    margin: 0;
    padding: 0;
}

.menu li{
    display: inline-block;
}

.menu a{
    text-decoration: none;
    color: #555;
    font-size: 18px;
    padding: 15px;
}

.main{
    width: 100%;
    height:600px;
    margin:auto;
    overflow: hidden;
    align-items: center;
    justify-content: center;
    
}

.main img{
    width: 100%;
    height: auto;
    border-radius: 1%;
}

.container1{
    position: relative;
    margin: 5px;
    text-align: center;
    color: white;
}
.text{
    position: absolute;
    color: wheat;
    bottom: 140px;
    right: 45px;    

}
.text button{
    background-color: red;
    color: #fff;
    border: red 10px solid;
}

.text button:hover{
    background-color: lightsalmon;
    transition: ease-in-out;
    border:  lightsalmon 10px solid;
}

.container2{
    background-color: aliceblue;
    padding: 6rem;
}

.container3{
    padding: 4rem;
}
.item{
    background-color: #000;
    color: #fff;
    width: 24%;
    display: inline-block;
    
}
.item img{
    width: 100%;
}
/* footer part



*/
.ftrr{
    bottom: 10px;
    margin-top: 30px;
    width: 100%;
    justify-content: center;
}
#footer{
    display: flex;
    width: 100%;
    margin:auto;
    justify-content: space-between;
    border-top:5px solid #000;
    border-bottom: solid 5px #000;

}

#footer a{
    text-decoration: none;
}

#footer p{
    font-size: 15px;
}

.bottom-footer{
    display: flex;
    width: 100%;
    margin: auto;
    justify-content: space-around;
    align-items: center;
    border-bottom: 5px solid #000;

   }
