*{
    box-sizing: border-box;
}

body{
    margin: 0;
    background-color:#fff8e9;
    font-family:'PT Mono', monospace;
    margin-left: 30px;
    margin-right: 30px;
}

.header{
    background-color:#fff8e9;
    margin-top: 10px;
    border-bottom: solid 5px black;
    border-top: solid 5px black;
    height: 80px;
    box-sizing: content-box;
}

.logo {
    display: inline-block;
    height: 80px;
}

.logo h1{
    height: 100%;
}

.logo a{
    text-decoration: none;
    color: #555;
}

.menu{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 80px;
    vertical-align: top;
    padding: 25px;
    float: right;
}

.menu ul{
    margin: 0;
    padding: 0;
}

.menu li{
    display: inline-block;
}

.menu a{
    text-decoration: none;
    color: #555;
    font-size: 18px;
    padding: 15px;
}

/* footer part



*/
.ftrr{
    position: fixed;
    bottom: 10px;
    width: 100%;
    justify-content: center;
}
#footer{
    display: flex;
    width: 100%;
    margin:auto;
    justify-content: space-between;
    border-top:5px solid #000;
    border-bottom: solid 5px #000;

}

#footer a{
    text-decoration: none;
}

#footer p{
    font-size: 15px;
}

.bottom-footer{
    display: flex;
    width: 100%;
    margin: auto;
    justify-content: space-around;
    align-items: center;
    border-bottom: 5px solid #000;

   }